/***** BASE STYLES *****/


body {
  font-family:'source sans pro',sans-serif;
  color: #2b2b2b;
  height: 3361px;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}
.half-width {
  width: 600px;
  float: left;

}
.third-width {
  width: 100px;
  float: left;
  }

body {
  width: 1200px;
  margin:auto;
}

body .bg-img {
  background-image: url("design-comp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 3361px;
  position: relative;
}

#container{
  width: 1200px;
  height: 76px;
  background-position: center;
  float: left;
  margin: auto;
  position: relative;
}
 nav{
  width: 603px;
  height: 76px;
  float:right;
 }
nav ul {
 	margin: 0;
  height:inherit;
  width:inherit;
  padding: 0;
 }

 nav ul li {
  height: 24px;
  width: 92px;
  display: inline;
  float: left;

 }
 nav ul li a{
   height:inherit;
   width:inherit;
   float:inherit;
   display: inline;
   padding: 0
}

a.port{
padding: 0;
float: left;
margin: 26px 55px 26px 92px;
}

a.abt{
  float:  inherit;
  margin: 26px 55px 26px 162px;
}

a.connct{
  float:  inherit;
  margin: 26px 55px 26px 234px;
}

#portfolio{
  height: 1448px;
  padding: 634px 0 0 0;
}

#about{
height: 568px;
padding: 0;
}

#connect{
height: 478px;
padding: 33px 0 0 0;
}
